{{ $defaultLang := (index .Site.Params.SupportLanguages 0) }}

<!DOCTYPE html>
<html>
  <body>
    <noscript>
      <meta http-equiv="refresh" content="0; url={{ $defaultLang }}/">
    </noscript>
    <script>
      var lang = (window.navigator.userLanguage || window.navigator.language)
        .replace(/[_-].*/, '') // Country Translation Not Supported
        .toLowerCase();

      if(lang in {{ .Site.Params.Languages }}) {
        location.href = lang + '/';
      }
      else {
        location.href = '{{ $defaultLang }}/';
      }
    </script>
  </body>
</html>
